{% extends 'base.html' %}

{% block title %}
Tasks Page
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {%if not tasks %}
        <p>You have no tasks</p>
        {% else %}
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Start date</thead>
                <thead>Due date</thead>
                <thead>Is completed</thead>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
