{% extends 'base.html' %}
{% block title %}
Detail Page
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <div>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        </div>
        {% if not project.tasks.all %}
        <p>This project has no tasks</p>
        {% else %}
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Assignee</thead>
                <thead>Start date</thead>
                <thead>Due date</thead>
                <thead>Is completed</thead>
            </tr>
            {% for task in project.tasks.all %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
