{% extends 'base.html' %}

{% block title %}
List of Projects
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <div>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        </div>
        {% if not projects %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Number of tasks</thead>
            </tr>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
